/*PRINTING AREA*/
#printing_area{display:none; background:white;}
.pagebreak	{ display: none; }
@media print{ 
	@page{
		margin:0 !important;
	}
	#body,body, #printing_area{background:#FFFFFF !important;}
	#printing_area{display:block !important;}
	#non_printing_area, .noprint, .btn{display:none !important;}	
	.modal{ border:none; }
	.well{ border:none; }	
	.smis-print-table{border-spacing: 0px; border-collapse: separate; }
	.smis-print-table td{padding:5px; border:solid 1px #000;}
	.pagebreak	{ display: block; page-break-before: always;   }
	#loadinglogo  {display:none !important;}
	.cutline{border-top:dashed 1px #000 !important; margin-top:10px; margin-bottom:10px; }
}
