body{   -webkit-background-size: cover; background-size:cover;  -moz-background-size: cover; -o-background-size: cover; }
#body{background-color:#FFFFFF !important; }
body,html,#smis{padding:0; margin:0; height:100%; }
body::-webkit-scrollbar { display: none; }
.smis #smis_window #smis_container{	overflow:auto; 	height: calc(100% - 35px) !important;  padding:10px; }

.i_container {  width:100%;   position: absolute;  top: 40px;  left: 0px;  right: 0px;  bottom: 0px;}
.i_container > .smis_sidebar { width:300px; float:left; height: 100%;}
.i_container > .smis_content { width:auto; overflow:hidden; height: 100%;}

.blackie { -webkit-filter: grayscale(100%) brightness(-5%) contrast(180%) invert(100%); filter: grayscale(100%) brightness(0) contrast(180%) invert(100%); -o-filter: grayscale(100%) brightness(-5%) contrast(180%) invert(100%); filter:grayscale(100%) brightness(-5%) contrast(180%) invert(100%); }
#non_printing_area{ }
#smis{position:relative;}
input {min-height:30px;}
.input {min-height:20px;}
.input-append .select2-container{width:180px;} 
input.search_text{width:150px;}
select.number_select{width:190px;}
hide{display:none;}
.navbar{margin-bottom:0 !important;}
.clear{clear:both;margin-bottom:10px;}
.smis #navigator{  width: 100%;   position: absolute;  top: 0;  left: 0;  height: 40px;  bottom: 0px;}
.smis #smis_window{	 width:100%; ; }
.smis #smis_window_wrapper{ padding:10px 5px 5px 10px; background:#FFF; height: 100%;}



.smis #smis_window #smis_control_top{	height:20px; text-align:right; padding-bottom:10px; }
.datepicker {z-index: 11510 !important;}
#loading, #warning{z-index: 11511 !important;}
.div-check {float:left;width:206px;}
.d_indent {margin-bottom:30px !important;}

#smis_container table .pagination{text-align: center !important; margin: 0px !important;}
.right{ text-align: right !important;}
.left{ text-align: left !important;}
.center{ text-align: center !important;}
.bold{ font-weight: 800 !important;}
.big{ font-size: 14px !important;}
.uppercase{ text-transform: uppercase !important;}
.italic{ font-style: italic !important;}
.fade_to_grey{ background-color: #dedede !important;}
.fade_to_white{ background-color: #efefef !important;}
.top_dash{ border-top: dashed 1px #272727 !important;}
.bottom_dash{ border-bottom: dashed 1px #272727 !important;}
.left_dash{ border-left: dashed 1px #272727 !important;}
.right_dash{ border-right: dashed 1px #272727 !important;}

div.money-currency{ display:inline; float: left;}
div.money-value{ display:inline; float: right;}
div.strip{border-bottom: 1px dashed #afafaf; color:#333333 !important; }
div.strip-odd{background:#AEDEF6; }
div.strip-even{background:#DDF4FF; }
.array-bold-trim{ width:200px; float:left; }
.smis-table-container{margin:auto !important; clear:both;}
#table_content{clear:both;}
.line{border-bottom:dashed 1px #ccc; margin:10px;}

.diff{font-style: normal; color:#0088cc;}
div.modal_always_show{ 	position:inherit !important; margin: 0 auto;}

.table-responsive{overflow:auto; max-width:1100px; padding-bottom:100px; clear:both !important;  }
caption, legend {font-weight: 800; font-size: 20px;left: 0;text-align: left; text-transform: capitalize; padding-left: 20px; padding-bottom: 15px;  font-family:georgia,"Lucida Console"; font-style:italic; }
.smis-poly-tooltip{	border:solid #000 1px; max-width:200px; border-radius:5px; padding:4px; background:#FFF; color:#000; font-size:12px;}
.smis-option-img{ width:auto; height:20px}
.select2-container {width: 205px;padding-left: 0px !important;}
.error_field, .error_field:focus{ border-color: rgba( 69, 69,226, 0.8) !important; outline: 0 !important; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82,168,236,0.8) !important; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82,168,236,0.8) !important; }

.install-desc{ text-align: justify; width: auto; float:right;}
.install-logo{ text-align: center; width: auto; float:left;}
.install-logo img{ margin:0 auto; max-width:150px; }
#install-show{ padding-top:20px; }

.smis-tabs > ul {margin:0; padding:0;}
.smis-tabs .smis-tabs-content{ 	background: #fff; border-bottom: solid 1px #ddd; border-left: solid 1px #ddd;	border-right: solid 1px #ddd; padding: 20px; border-radius: 0px 0px 12px 12px; }
.nav-tabs>li>a{-webkit-border-radius:0px !important; -moz-border-radius:0px !important; -o-border-radius:0px !important; border-radius:0px !important; }
.error-list{ padding-left:10px; padding-top:10px; padding-right:10px; padding-bottom:10px;	}
.error-list li{ border-bottom:dashed 1px #333; padding-top:4px; padding-bottom:4px;}
.smis-tabs .smis-tabs-content{border-radius:0px !important; -webkit-border-radius:0px !important; -moz-border-radius:0px !important; -o-border-radius:0px !important;   }
td{white-space: pre-wrap;}


.menu_logo{width :14px; height:14px;}

.fixedheader{top:80px; z-index:10;}
.fixed{position:fixed;}

div[contenteditable='true']{display: block;padding: 9.5px;margin: 0 0 10px;line-height: 20px;word-break: break-all;word-wrap: break-word;white-space: pre;white-space: pre-wrap;background-color: #f5f5f5;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.15); -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

.spin{-webkit-animation:spin 1s linear infinite; -moz-animation:spin 1s linear infinite; animation:spin 1s linear infinite; }
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
  margin:2px;
}