@media (max-width: 767px){
	body {
		padding-right: 0px !important; 
	   	padding-left: 0px !important; 
	}
}

/*OVERRIDE BOOTSTRAP*/
.pagination { margin: 0 0 !important;}
.table thead tr.success > th, .table thead tr.success > td , .table tfoot tr.success > th, .table tfoot tr.success > td {background-color: #dff0d8;}
.table thead tr.error > th, .table thead tr.error > td , .table tfoot tr.error > th, .table tfoot tr.error > td {background-color: #f2dede;}
.table thead tr.warning > th, .table thead tr.warning > td , .table tfoot tr.warning > th, .table tfoot tr.warning > td {background-color: #fcf8e3;}
.table thead tr.info > th, .table thead tr.info > td , .table tfoot tr.info > th, .table tfoot tr.info > td {background-color: #d9edf7;}
.table thead tr.inverse > th, .table thead tr.inverse > td , .table tfoot tr.inverse > th, .table tfoot tr.inverse > td {background-color: #f1f1f1;}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {background-color: #B2CCFF;}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th { background-color: #ffffff;}
.btn-group select{ margin-top: 10px !important;}


/*MODAL SIZE*/
.full_model{ left: 5% !important; width: 90% !important; margin: auto !important; }
.half_model{ left: 20% !important; width: 60% !important; margin: auto !important; }
.smis_form{padding:20px;}
select{max-width:206px;}
.smis_form > div{float:left; padding-left:20px;}
.smis_form > div.input-append, .smis_form > div.input-prepend{float:left; padding-left:0px;}
.smis-one-option-input{width:167px; max-width:167px;}
.smis-two-option-input{width:127px; max-width:127px;}
.smis_form{ padding:10px;}
.normal_model_medium_component label{width:200px !important;}
.half_model_medium_component label{width:250px !important;}
.half_model_big_component label {width:350px !important;}
.full_model_medium_component label {width:300px !important;}
.full_model_big_component label { margin-left:25px; width:300px !important;}
.smis_form > div label{float:left; width:100px; height:20px; margin-top: 12px;}

/*SMIS ALERT*/
.smis-alert-modal{ bottom: 5px; right:12px; position: fixed; z-index:99999; }
.alert-inverse {   color: #565657 !important; background-color: #F0F0F0 !important; border-color: #CACACA !important;}
.alert-inverse h4 {  color: #565657 !important; }


/*TAGS INPUT*/
.bootstrap-tagsinput{ height:100px; width:178px; margin-bottom:10px; }

/*NAVBAR*/
.navbar-right{float:right !important;}
#navigator .navbar .navbar-inner {min-height: 40px;padding-right: 20px;padding-left: 20px;  color: #FFF;   background-repeat: repeat-x;  border: none;  -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; filter: none;-moz-box-shadow: none; box-shadow: none; }
.navbar-inverse .brand, .navbar-inverse .nav>li>a{color:#FFF !important; text-shadow:none; }
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:rgba(255,255,255,0.2) !important; 	
}
.navbar .nav>li>.dropdown-menu:before, .navbar .nav>li>.dropdown-menu:after{display:none !important;}
.dropdown-menu{ margin:0px !important;border-radius:0 !important; -moz-border-radius:0 !important; -o-border-radius:0 !important; -webkit-border-radius:0 !important;    }

.navbar-inverse .nav li.dropdown>.dropdown-toggle .caret{
	border-bottom-color:#FFF !important;
	border-top-color:#FFF !important;
}

.btn {  min-height:20px; min-width:17px; padding-top:6px !important;  !important; background-color:#ccc ; background-image:none !important; border:none !important; box-shadow:none !important; -webkit-box-shadow:none !important; -moz-box-shadow:none !important; -o-box-shadow:0 !important; }
.brand{font-weight:800 !important; font-family:georgia,"Lucida Console"; font-style:italic; }

/*
#spacer{	border-top:dashed 1px #FFF;	height: 200px;	min-height: 200px;}
#user_identity > div{	margin-top:5px;	color:#FFF;	font-size:18px;}
#user_identity > div > img{	max-width:150px;	height:auto;	max-height:200x;	clear:both;}
#user_identity{		text-align:center;			padding-top:10px;			padding-bottom:10px;}
*/

#spacer{	border-top:dashed 1px #FFF;	height: 80px;	min-height: 80px; }
#user_identity > div{	padding:0; 	color:#FFF;	font-size:18px;}
#user_identity > div:nth-child(1){float:left;  padding:0px; }
#user_identity > div > img{	max-width:70px; max-height:60px;	line-height:60px; 	height:auto; padding-right:15px; padding-left:4px;	}
#user_identity > div:nth-child(2){float:left; text-align:left; padding-top:5px; width:200px; font-size:20px !important; }
#user_identity{text-align:center; padding:10px 2px 2px 2px !important;}
#user_identity #search_menu_box{width:200px; margin-top:5px;}

#sidebar{	max-height: 100%;	overflow-y:auto;	overflow-x:hidden;		border-bottom:dashed 1px #FFF;	border-top:dashed 1px #FFF;	max-width: 300px;	width: 300px;	height: auto;	position: absolute;	top: 80;	bottom: 0;}
.side-nav>li>a{background-color: #0077b3 !important;padding-bottom:5px;padding-top:5px;padding-left:15px;width: 300px;font-size:15px;text-decoration:none;color: white;}
.side-nav>li>a.collapsed{	color:#FFF;	background-color:transparent !important;}
.side-nav>li>ul{	list-style-type: none;	width: 300px;	margin:0;	background:#FFF;}
.side-nav>li>ul>li{	width: 300px;}
.side-nav>li>ul>li>a{	width:220px;	padding-left:30px;		font-size:14px;}
.side-nav>li>ul>li>a>i{	width:18px !important;}
.side-nav>li>a:hover{background-color:#FFF !important;}
.dropdown-menu>li>a:hover{ color: #FFF !important; }
.dropdown-menu>li>ul>li>a:hover{ color: #FFF !important; }


.side-nav>li>a{
	border-bottom:dashed 1px #FFF;
	font-size: 18px !important;
	vertical-align:center;
	/*-webkit-box-shadow: inset -4px 15px 21px -13px rgba(255,255,255,1); -moz-box-shadow: inset -4px 15px 21px -13px rgba(255,255,255,1); box-shadow: inset -4px 15px 21px -13px rgba(255,255,255,1);*/
}

.side-nav>li>a>i{
	width: 30px !important;
}

.modal{
	border:none !important;
	border-radius : 0px !important;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	-moz-box-shadow:0 0 0 0 !important;
	box-shadow:0 0 0 0 !important;
	-webkit-box-shadow:0 0 0 0 !important;
	border:none !important;
}

.table-bordered{
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important; 
}



.table-bordered caption+thead tr:first-child th:first-child, 
.table-bordered caption+tbody tr:first-child td:first-child, 
.table-bordered colgroup+thead tr:first-child th:first-child, 
.table-bordered colgroup+tbody tr:first-child td:first-child{
	-webkit-border-top-left-radius:0px !important;
	border-top-left-radius:0px !important;
	-moz-border-radius-topleft:0px !important;
}

.table-bordered thead:last-child tr:last-child>th:first-child, 
.table-bordered tbody:last-child tr:last-child>td:first-child, 
.table-bordered tbody:last-child tr:last-child>th:first-child, 
.table-bordered tfoot:last-child tr:last-child>td:first-child, 
.table-bordered tfoot:last-child tr:last-child>th:first-child{
	-webkit-border-bottom-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
	-moz-border-radius-bottomleft:0px !important;
}
#sidebar>ul>li>a.collapsed{color:#FFF ;}
#sidebar::-webkit-scrollbar { display: none; }

.pagination ul{  border-radius: 0px !important; box-shadow: none !important; }
.pagination ul>li{display: inline-block !important;}
.pagination ul>li>a{ color:#FFF !important;}
.pagination ul>.active>a, .pagination ul>.active>span{ background-color:#FFF !important;}

#smis_notification{ background-color:#FFF !important;  text-shadow:none; }
.table thead tr th, .table tfoot tr td, .modal-header h3{ font-family:tahoma,georgia,"Lucida Console";  }
#navigator .navbar .navbar-inner { background-image:none; !important;	}
.maincolorbtn{color:#006dcc !important;}
::-webkit-scrollbar{ height:10px; width: 10px; }
::-webkit-scrollbar-thumb:vertical{ background-color: #FFF;   }
::-webkit-scrollbar-thumb:horizontal{ background-color: #FFF;   }
.has-switch span.switch-inverse{color:#FFF !important; background:#333 !important; }

.modal-body{border:solid 1px #FFF;}
.active > a > .typeaheadiv{color:#FFF;}