
/*DROP UP MENU*/
/*
.dropup-menu { bottom: 0%; top: auto !important;}
.navbar .dropup-menu:before {   border-bottom: none;     border-left: 7px solid transparent;   border-right: 7px solid transparent; border-top: 7px solid rgba(0, 0, 0, 0.2);  left: 7px; top: 100%;}
.navbar .dropup-menu:after { border-bottom: none; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #fff; left: 10px; top: 100%; left: 6px;}
.up { border-left: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 4px solid #000000; border-top: none;}
*/