.basicbook-viewport{overflow:hidden;width:100%;height:100%;text-align:center;padding-left:10px;}
.basicbook-viewport .basicbook-container{margin:auto;left:1%;top:1%;}
.basicbook-viewport .basicbook{margin-left:10px;margin-top:10px;}
.basicbook-viewport .page{background-color:white;background-repeat:no-repeat;background-size:100% 100%;}
.basicbook .page{-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);-o-box-shadow:0 0 20px rgba(0,0,0,0.2);box-shadow:0 0 20px rgba(0,0,0,0.2);}
.basicbook-viewport .shadow{-webkit-transition: -webkit-box-shadow 0.5s;-moz-transition: -moz-box-shadow 0.5s;-o-transition: -webkit-box-shadow 0.5s;-ms-transition: -ms-box-shadow 0.5s;-webkit-box-shadow:0 0 10px #aaa;-moz-box-shadow:0 0 10px #aaa;-o-box-shadow:0 0 10px #aaa;-ms-box-shadow:0 0 10px #aaa;box-shadow:0 0 10px #aaa;}
