.smis #smis_window #smis_container div.tabs-potrait{ display:inline-block; min-width:100%; align:center;}
.smis #smis_window #smis_container div.tabs-left{	width:max-content;}
.smis #smis_window #smis_container div.tabs-right{	width:max-content; min-width:100%;}
