/*OVERRIDE SUIMMERNOTE*/
.note-editor .note-editable{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px; background:#FFF;}
.note-editor .btn-toolbar .btn-group button{ min-height:25px !important; }
.summernote-buton-group {padding-left:0px !important;}
.note-dialog .note-help-dialog .note-shortcut td { min-width: 110px; padding-right: 10px; font-family: "tahoma"; font-size:12px; color: #fff; text-align: right; }


