table.kwitansi_print td.ltop{ border-top:solid 1px #000 !important; }
table.kwitansi_print td.grey{ background-color:grey; }
table.kwitansi_print td.vtop{ vertical-align:text-top !important; }
table.kwitansi_print td.lbottom{ border-bottom:solid 1px #000 !important; }
table.kwitansi_print td.ltopb{ border-top:solid 3px #000 !important; }
table.kwitansi_print td.lbottomb{ border-bottom:solid 3px #000 !important; }
table.kwitansi_print td.lleft{ border-left:solid 1px #000 !important; }
table.kwitansi_print td.lright{ border-right:solid 1px #000 !important; }
table.kwitansi_print td.italic{font-style:italic !important;}
table.kwitansi_print td.underlined{text-decoration: underline !important;}
table.kwitansi_print td.bold{font-weight:800 !important;}
table.kwitansi_print td.plain{border-top:none !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
table.kwitansi_print td.f15{font-size:15px !important;}
table.kwitansi_print td.logo img{max-width:100px; max-height:100px;}
table.kwitansi_print td.left{ text-align:left !important; }
table.kwitansi_print td.center{ text-align:center !important; }
table.kwitansi_print td.lg{ padding-left:20px; }

.smis-print-table tr td {padding:0px; border:none;}
.smis-print-table th td {padding:0px; border:none;}
table.kwitansi_print{width:100%;}

.subtitle {padding-top:5px !important; padding-bottom:5px  !important; border-top:solid 1px #000  !important; }

.bold{font-weight:800;}
.upperscore{border-top:solid 1px #000 !important;}
.underscore{border-bottom:solid 1px #000 !important;}

@media print{
	table.kwitansi_print{ width:100%; }
	table.kwitansi_print td.ltop{ border-top:solid 1px #000 !important; }
	table.kwitansi_print td.grey{ background-color:grey; }
	table.kwitansi_print td.vtop{ vertical-align:text-top !important; }
	table.kwitansi_print td.lbottom{ border-bottom:solid 1px #000 !important; }
	table.kwitansi_print td.ltopb{ border-top:solid 3px #000 !important; }
	table.kwitansi_print td.lbottomb{ border-bottom:solid 3px #000 !important; }
	table.kwitansi_print td.lleft{ border-left:solid 1px #000 !important; }
	table.kwitansi_print td.lright{ border-right:solid 1px #000 !important; }
	table.kwitansi_print td.italic{font-style:italic !important;}
	table.kwitansi_print td.bold{font-weight:800 !important;}
	table.kwitansi_print td.plain{border-top:none !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
	table.kwitansi_print td.f15{font-size:15px !important;}
	table.kwitansi_print td.logo img{max-width:100px; max-height:100px;}
	table.kwitansi_print td.left{ text-align:left !important; }
	table.kwitansi_print td.center{ text-align:center !important; }
	.smis-print-table tr td {padding:0px; border:none;}
	.smis-print-table td td {padding:0px; border:none;}
    
    .bold{font-weight:800;}
    .upperscore{border-top:solid 1px #000 !important;}
    .underscore{border-bottom:solid 1px #000 !important;}
}