table.kwitansi_inacbg-smis-print-table thead tr td,
table.kwitansi_inacbg-smis-print-table tbody tr:nth-child(1) td,
table.kwitansi_inacbg-smis-print-table tbody tr:nth-child(11) td{
    font-weight:800;
}

table.kwitansi_inacbg-smis-print-table tbody tr td{
    border:1px solid #000;
}

table#kwitansi_inacbg tr td,table#kwitansi_inacbg th td{
    padding:5px !important;
}