
#kwitansi_bodong tr, #kwitansi_bodong td{
    border:none !important;
}
#kwitansi_bodong img.logo{
    width           : 80px !important;
    margin-right    : 40px;
}
#kwitansi_bodong td {
    padding-top     : 2px; 
    padding-bottom  : 2px;
}
#kwitansi_bodong .vtop{
    vertical-align   : top;
    line-height:19px;
}
#kwitansi_bodong .money > div{
   border-top:2px solid #000000;
   border-bottom:2px solid #000000;
   background:#bfbfbf;
   height:20px;
   padding:10px;
   vertical-align:center;
   font-size:20px !important;
   font-weight:800;
   font-style:italic;  
}
#kwitansi_bodong  td#top{
    border-bottom   : solid 1px #000 !important;
}
#kwitansi_bodong  td#bottom{
    border-top      : solid 1px #000 !important;
}
#kwitansi_bodong .title{
    font-size:15px;
    font-weight:800;
}
#kwitansi_bodong .jumbo{
    font-size:20px !important;
    font-weight:800;
}
#kwitansi_bodong .i{
    font-style:italic;
}
#kwitansi_bodong td.u div{
    border-bottom:1px solid #000;
}
#kwitansi_bodong td.utext{
    text-decoration: underline;
}
#kwitansi_bodong .c{
    text-align:center;
}
#kwitansi_bodong .lft{
    text-align:left;
}

#kwitansi_bodong .gap{
    min-width:max-content;
    width:45%;
}

@media print{
    .smis-print-table td{border:none !important;}
}
.smis-print-table td{border:none !important;}


