#kwitansi_report {
	font-size: 12px;
	font-wight: 500;
}
.border_table_kasir tr td, .border_table_kasir tr th {border:solid 1px #000; padding:1px; font-size:10px;}
.noborder_table_kasir tr td, .border_table_kasir tr th {border:none !important; padding:1px; font-size:10px;}
.nowrap{white-space: nowrap;}
@media print{
	.nowrap{white-space: nowrap;}
	.top_dash{ border-top: dashed 1px #272727 !important;}
	.bottom_dash{ border-bottom: dashed 1px #272727 !important;}
	.left_dash{ border-left: dashed 1px #272727 !important;}
	.right_dash{ border-right: dashed 1px #272727 !important;}
	.noborder_table_kasir tr td, .border_table_kasir tr th {border-collapse:collapse; padding:1px;  -webkit-print-color-adjust:exact;}	
}
