div.ctrl_2 { font-weight:800 !important; width:100px}
div.ctrl_5 { font-weight:800 !important; width:300px}
table#table_surat_sakit .ssg { font-size       : 17px !important; }
table#table_surat_sakit .ssm { font-size       : 13px !important; }
table#table_surat_sakit td{height:10px; border:none !important; font-height:12px; font-size:12px !important; margin: 0px !important; padding:0px;}
.ssu  { text-decoration : underline; }
.ssi  { font-style      : italic; }
.ssb  { font-weight     : 800; }
.ssc  { text-align      : center; }
.ssl  { text-align      : left; }
.sspl { padding-left    : 50px !important; }
table#table_surat_sakit img { max-width:70px !important; height:auto; }
table#table_surat_sakit { margin-left:20px; width:600px; }
table#table_surat_sakit {border:none !important;} 
