.smis-print-table td.ltop{ border-top:solid 1px #000 !important; }
.smis-print-table td.grey{ background-color:grey; }
.smis-print-table td.vtop{ vertical-align:text-top !important; }
.smis-print-table td.lbottom{ border-bottom:solid 1px #000 !important; }
.smis-print-table td.ltopb{ border-top:solid 3px #000 !important; }
.smis-print-table td.lbottomb{ border-bottom:solid 3px #000 !important; }
.smis-print-table td.lleft{ border-left:solid 1px #000 !important; }
.smis-print-table td.lright{ border-right:solid 1px #000 !important; }
.smis-print-table td.italic{font-style:italic !important;}
.smis-print-table td.bold{font-weight:800 !important;}
.smis-print-table td.plain{border-top:none !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
.smis-print-table td.f20{font-size:20px !important;}
.smis-print-table td.f15{font-size:15px !important;}
.smis-print-table td.logo img{max-width:100px; max-height:100px;}
.smis-print-table td.center{ text-align:center !important; }
.smis-print-table td {padding:5px; border:none;}
table#tagihan_non_pasien {width:100% !important;}
table#tagihan_non_pasien {min-width:100% !important;}
table#tagihan_non_pasien  {width:100% !important;}