.countdown{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: -50;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    color: #252525;
    border: solid 3px black;
	float:left;
}

#error_msg_crawler{
	float: left;
    width: 410px;
    margin-top: -40px;
    margin-left: 20px;
}

.countdown_boundary{
		margin-bottom:4px;
}

#rekap_ksr_bar{
	clear:both;
    padding-top: 10px;
}