#faktur_tagihan_bulk tr td, #faktur_tagihan_bulk tr th{border:none;}

#faktur_tagihan_bulk { width:800px; margin:0 auto;}
#faktur_tagihan_bulk img{ width:50px !important; max-width:50px !important;}
#faktur_tagihan_bulk .waktu{font-weight: 800;}
#faktur_tagihan_bulk .pynum{font-weight: 800;}
#faktur_tagihan_bulk .title{font-weight: 800; font-size: 25px !important; text-align: center}
#faktur_tagihan_bulk .vendor{font-weight: 800; font-size:15px !important;}
#faktur_tagihan_bulk .subtitle{font-weight:800;}
#faktur_tagihan_bulk .center{text-align: center;}
#faktur_tagihan_bulk .left{text-align: left;}
#faktur_tagihan_bulk .italic{font-style: italic;}
#faktur_tagihan_bulk .underlined{text-decoration: underline;}
#faktur_tagihan_bulk .btop{border-top: solid 1px #000;}
#faktur_tagihan_bulk .btom{border-bottom: solid 1px #000;}