.valign_top{vertical-align:top;}
.f20{font-size:20px;}
.f15{font-size:15px;}
.valign_top{vertical-align:top;}
.f20{font-size:20px;}
.f15{font-size:15px;}
.f13{font-size:13px;}
.top_solid {border-top:solid 2px #000 !important;}
.left_solid {border-left:solid 2px #000 !important;}
#centertable{text-align: center; text-align: -moz-center; margin-left:20px; margin-right:20px;}
table.faktur_tagihan-smis-print-table {width:5000px;margin: 0px auto;}
table.faktur_tagihan-smis-print-table td, table.faktur_tagihan-smis-print-table th{ border:none !important; }
table.faktur_tagihan-smis-print-table td.top_solid {border-top:solid 2px #000 !important;}
table.faktur_tagihan-smis-print-table td.left_solid {border-left:solid 2px #000 !important;}
table.faktur_tagihan-smis-print-table td.bottom_solid {border-bottom:solid 2px #000 !important;}

#fp_add_form_form>div>label { width: 230px; }