.salary_one .salary_logo {float:left; width:40%; line-height:0; }
.salary_two {margin-top:-40px;}
.salary_two div{float:left; height:auto;}

.salary_logo img{max-width:50px !important; float:right; padding-right:10px;}
.salary_name {font-size:18px !important;}
.salary_address {font-size:12px !important;}
.salary_template {font-size:18px; font-weight:800; text-transform:uppercase; text-align:center !important; border-top:solid 1px #000 !important; border-bottom:solid 1px #000 !important  ; }
.salary_name_head{font-size:12px;}
.salary_name_head:nth-child(odd){font-weight:800;}
.salary_head_title {text-decoration: underline; font-size:15px !important; }
.salary_sub_title { font-size:12px !important; }
.salary_title {font-weight:800; font-size:13px !important; }
.salary_money {font-weight:800; font-size:13px !important; border-top:solid 1px #000 !important; }
.salary_bottom {text-align:center !important;}
table#auto_salary tr td, 
table#auto_salary tr th,
table#auto_salary tr{ border:none; }
