#title_status_operasi {float:left; height:80px; line-height:80px; font-size:30px; margin-top:auto; margin-bottom:auto; }
#header_status_operasi {margin-left:auto; margin-right:auto; width:800px;}
#logo_status_operasi img {max-height:80px; margin-right:20px;float:left;  }