.div-check {
	float: left;
	margin-right: 10px;
	height: 30px;
	padding-top: 5px;
	width: 300px;
}

.i_desc {
	font-size: 14px !important;
	float: left;
}
#clearer{
    border-bottom:dashed 1px #aaa;
}