div.infotable td {white-space:nowrap !important;}
div.infotable th {text-align:left !important;}
div.infotable th, div.infotable > table > tbody > tr > td {border-bottom:solid 1px #bbb;}
div.infotable tr:hover{background:#eaeaea;}

div.infotable table {width:100% !important;}
div.infotable h2 {font-size:20px; color:black !important; line-height:14px; margin-top:20px; margin-bottom:0px; width:100%; background:#eaeaea; padding:5px; border-radius:2px}
