#salman_form legend{text-transform: none !important;}
.salman_img_container{width:100%;  text-align:center;}
.salman_img{position:relative; left:50%; width:50%;}
.salman_img_name{ padding-bottom:20px; }
.salman_img img,.salman_img audio{height:auto; position:relative; left:-50%; }