
.red_text { color: red !important;}
.black_text { color: black !important;}
table.lab_hasil {float:left; width:100%;}
table.lab_hasil tr td, table.lab_hasil tr th{height:43px;}
table.lab_hasil .t-center {background-color: #bbb; font-size:15px; font-weight:800; text-align:center; border:solid 1px #000;}
table.lab_hasil .table_pemeriksaan {font-size:12px; font-weight:800; text-align:center; border-top:solid 1px #000; border-bottom:solid 1px #000; border-left:solid 1px #000;}
table.lab_hasil .table_hasil {font-size:12px; font-weight:800; text-align:center; border-top:solid 1px #000; border-bottom:solid 1px #000; }
table.lab_hasil .table_normal {font-size:12px; font-weight:800; text-align:center; border-top:solid 1px #000; border-bottom:solid 1px #000; }
table.lab_hasil .table_metode {font-size:12px; font-weight:800; text-align:center; border-top:solid 1px #000; border-bottom:solid 1px #000; border-right:solid 1px #000;}
table.lab_hasil tr td.entry{font-weight:700;}
table.lab_hasil tr td.nilai_normal{border-left:solid 1px #000; font-weight:100; font-size:9px;}
table.lab_hasil tr td.metode{border-left:solid 1px #000; font-weight:100; font-size:9px;}
table.lab_hasil tr {border:solid 1px #000;}
table.lab_hasil tr td,table.lab_hasil tr th { font-size:12px; }
.copy_hasil1 { display: none;}
.asli_hasil1 { display: block;}
#laboratory_catatan{ width:396px; height:102px;}
#lab_hasil input, #lab_hasil select{ max-width:150px !important;}

@media print{
	div#hasil_1 {margin-left:10px;}
	table.lab_hasil {width:235px;}
	table.lab_hasil .t-center {font-size:12px !important; font-weight:100;}
	table.lab_hasil tr td.entry{font-weight:800; font-size:9px !important; padding-left:2px;}
	table.lab_hasil tr td.nilai_hasil .copy_hasil1{ font-size:10px !important;}
	table.lab_hasil tr td.nilai_normal{font-weight:100; font-size:8px !important; padding-left:2px;}
	table.lab_hasil tr td, table.lab_hasil tr th{height:20px; padding:0px; margin:0px;}
	table.lab_hasil .table_pemeriksaan {font-size:9px; font-weight:800; }
	table.lab_hasil .table_hasil {font-size:9px; font-weight:800;  }
	table.lab_hasil .table_normal {font-size:9px; font-weight:800; }
	table.lab_hasil .table_metode {font-size:9px; font-weight:800; }
	.copy_hasil1 { display: block;}
	#copy_laboratory_catatan{ display:block; height:45px; padding-left:10px;overflow:hidden; font-size:9px;}
	.catatan_entry{ font-size:9px;}
	.asli_hasil1, #laboratory_catatan { display: none !important;}
	#df_count11{ font-size:10px; }
	#df_count{ font-size:9px; }	
	.plong .pheader tr td, .plong #pheader tr th {font-size:12px;}
}