#_add_form_form{
    max-width:400px;
    margin-bottom:200px;
}

div.form-container > form#pelayanan_khusus_add_form_form > div > label{
    min-width:450px;
}

div.form-container > form#pelayanan_khusus_add_form_form > div > div.div-check{
    min-width:450px;
}