.b_title          {font-size:15px;}
.b_subtitle       {font-size:12px; weight:800;}
.b_content        {font-size:12px;}
.center           {text-align:center;}
.jumbo            {font-size:110px !important; weight:800;}
.second-jumbo     {font-size:25px !important; weight:800;}
table#cetak_antrian td{padding:5px; border:none !important;}