div.panel-dashboard{
    width:100%;
    height:150px;
    padding: 0;
}
div.panel-dashboard .panel-heading{
    width:auto;
    height:20px;
    margin-top: -32;
}
div.panel-dashboard .panel-heading h3{
    position:relative;
    margin:0;
    padding:0;
    margin-top: -32;
}
div.panel-dashboard .panel-body font{
    font-size:25px;
    float:right;
}
div.panel-dashboard .panel-body i{
    font-size:50px;
    float:left;
    margin-top:-50;
    clear:both;
}
.vertical-top{
    vertical-align: top;    
}
.vertical-top ul{
    margin-top:20px;
}
.vertical-top ul li{
    font-size: 18px;
    line-height:25px;
    font-weight:800;
}
.vertical-top ul li div.right{
    float: right;
}
.vertical-top ul li div.left{
    float: left;
}
div#panel_bed{
    position:relative;    
    min-height: max-content;
    width: max-content;
}