div.no_tgl_column table tr td:nth-child(3) {display:none;}
div.no_tgl_column table tr th:nth-child(3) {display:none;}

div.no_ktp_column table tr td:nth-child(6) {display:none;}
div.no_ktp_column table tr th:nth-child(6) {display:none;}

div.no_bpjs_column table tr td:nth-child(7) {display:none;}
div.no_bpjs_column table tr th:nth-child(7) {display:none;}

div.no_profnum_column table tr td:nth-child(8) {display:none;}
div.no_profnum_column table tr th:nth-child(8) {display:none;}

div.no_jk_column table tr td:nth-child(15) {display:none;}
div.no_jk_column table tr th:nth-child(15) {display:none;}


