.search{ max-width:180px !important ; }
#skb_print_tbl{ text-align:center; max-width:250px; }
#daftar_pasien_add_form_form label{width:150px;}
@media print{
	.data_social_kunjugan_pasien-smis-print-table tbody tr td{font-size:14px !important; border:none;	padding:5px;}
	.data_social_kunjugan_pasien-smis-print-table tbody tr td:nth-child(4),
	.data_social_kunjugan_pasien-smis-print-table tbody tr td:nth-child(7) { bacground:black;padding-left:5px;}
	/*table#data_social_kunjugan_pasien{width:400px;}*/
}	
tr.reghead td input, tr.reghead td select{width:100% ; max-width:100% !important;}
@media print{
	#smis_index_modal{display:none;}	
	table#dogtag tbody tr td{ font-size:9px !important; }	
}


