#printing_area table#rujukan_vclaim_table tr td {border:none; }
#printing_area table#rujukan_vclaim_table #title_bpjs {font-size:15px; text-align:center; }
#printing_area table#rujukan_vclaim_table #sub_title_bpjs {font-size:15px; text-align:center; }
#printing_area table#rujukan_vclaim_table .center {text-align:center; }

#printing_area table#rujukan_vclaim_table #logo_bpjs {max-width:200px; }
#printing_area table#rujukan_vclaim_table #logo_system {max-width:80px; }

