.etiket_header {
	font-size: 16px;
}
.etiket_content {
	font-size: 15px;
	width:100%;
}
#logo_rsmm {
	-webkit-filter: grayscale(100%);
}
.tpadding { 
	padding-left:20px;
}
kbd {
	padding: .1em .6em;
	border: 1px solid #ccc;
	font-size: 11px;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #f7f7f7;
	color: #333;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	border-radius: 3px;
	display: inline-block;
	margin: 0 .1em;
	text-shadow: 0 1px 0 #fff;
	line-height: 1.4;
	white-space: nowrap;
}
kbd.browse {
	border: 1px solid #7995D1;
	background-color: #7995D1;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #7995D1 inset;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #7995D1 inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #7995D1 inset;
}