table#analisa_kuisioner_rj td.ltop{ border-top:solid 1px #000 !important; }
table#analisa_kuisioner_rj td.grey{ background-color:#CCCACA; }
table#analisa_kuisioner_rj td.vtop{ vertical-align:text-top !important; }
table#analisa_kuisioner_rj td.lbottom{ border-bottom:solid 1px #000 !important; }
table#analisa_kuisioner_rj td.ltopb{ border-top:solid 3px #000 !important; }
table#analisa_kuisioner_rj td.lbottomb{ border-bottom:solid 3px #000 !important; }
table#analisa_kuisioner_rj td.lleft{ border-left:solid 1px #000 !important; }
table#analisa_kuisioner_rj td.lright{ border-right:solid 1px #000 !important; }
table#analisa_kuisioner_rj td.italic{font-style:italic !important;}
table#analisa_kuisioner_rj td.bold{font-weight:800 !important;}
table#analisa_kuisioner_rj td.plain{border-top:none !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
table#analisa_kuisioner_rj td.f20{font-size:20px !important;}
table#analisa_kuisioner_rj td.f15{font-size:15px !important;}
table#analisa_kuisioner_rj td.logo img{max-width:100px; max-height:100px;}
table#analisa_kuisioner_rj td.left{ text-align:left !important; }
table#analisa_kuisioner_rj td.center{ text-align:center !important; }
table#analisa_kuisioner_rj td.gleft{ padding-left:20px !important; }
.smis-print-table td td {padding:5px; border:none;}


table#analisa_kuisioner_rj_saran td.ltop{ border-top:solid 1px #000 !important; }
table#analisa_kuisioner_rj_saran td.grey{ background-color:#CCCACA; }
table#analisa_kuisioner_rj_saran td.vtop{ vertical-align:text-top !important; }
table#analisa_kuisioner_rj_saran td.lbottom{ border-bottom:solid 1px #000 !important; }
table#analisa_kuisioner_rj_saran td.ltopb{ border-top:solid 3px #000 !important; }
table#analisa_kuisioner_rj_saran td.lbottomb{ border-bottom:solid 3px #000 !important; }
table#analisa_kuisioner_rj_saran td.lleft{ border-left:solid 1px #000 !important; }
table#analisa_kuisioner_rj_saran td.lright{ border-right:solid 1px #000 !important; }
table#analisa_kuisioner_rj_saran td.italic{font-style:italic !important;}
table#analisa_kuisioner_rj_saran td.bold{font-weight:800 !important;}
table#analisa_kuisioner_rj_saran td.plain{border-top:none !important; border-bottom:none !important; border-left:none !important; border-right:none !important;}
table#analisa_kuisioner_rj_saran td.f20{font-size:20px !important;}
table#analisa_kuisioner_rj_saran td.f15{font-size:15px !important;}
table#analisa_kuisioner_rj_saran td.logo img{max-width:100px; max-height:100px;}
table#analisa_kuisioner_rj_saran td.left{ text-align:left !important; }
table#analisa_kuisioner_rj_saran td.center{ text-align:center !important; }
table#analisa_kuisioner_rj_saran td.gleft{ padding-left:20px !important; }
.smis-print-table td td {padding:5px; border:none;}