/**
 * this used for formatting the table
 * 
 * @author 		: Nurul Huda
 * @license 	: LGPLv3
 * @version 	: 1.0.0
 * @since 		: 24 Sept 2016
 * @copyright 	: goblooge@gmail.com
 * @used 		: medical_record/resource/laporan/resume_medis.php
 * */


table#hasil1_table, table#hasil2_table{width:100%;}
table#hasil1_table td, table#hasil2_table td{ border:1px solid #000; }
table#hasil1_table td[colspan="3"], table#hasil2_table td[colspan="3"]{ font-weight:800; }
.red_text { color: red !important;}