/*HEADER*/
#header_logo {	text-align: right; }
#header_logo img { 	height: 50px; width: auto; margin: 0;}
#autonomous_title { font-size: 20px; font-weight: 800; color: green; text-align: center; line-height: 20px;}
#autonomous_address { font-size: 15px; color: black; text-align: center; }
.pheader { margin-bottom: 15px; width:100%; border-bottom:solid 2px #000000; padding-bottom:10px; }
.pheader tr td,#pheader tr th { border: none; margin: 0; padding: 0;}

#pfooter { width:100%; float: left; margin-top: 10px; margin-right: 35px; padding-top:15px; border-top:solid 2px #000000; }
@media print {
	#untuk { -webkit-print-color-adjust: exact; }
	#utk_rm { color: red !important; }
	#utk_elektromedis { color: red !important; }
	#utk_dokter { color: green !important; }
	#utk_asuransi { color: blue !important; }
	div.print_div { -webkit-print-color-adjust: exact; color:red;}
	.print_div table.table tr td, 
	.print_div table.table tr th { padding:0px !important; margin:0px !important; }
	#pfooter, .pheader{ page-break-inside:avoid !important;}
	.pagebreak{ page-break-before:always !important; page-break-after:always !important;  display:block;}
	.emd_kwitansi{ page-break-inside:avoid !important; }
	.emd_kwitansi td { height:auto; margin:0px !important; }
}

#elektromedis_add_form_form label {width: 150px;}
.smis_form div label {margin-top: 0px !important;}
.head-title {margin-top: 20px;}
#laboratory_add_form_form .span3 {margin-top: 20px;}
.indent {padding-left: 40px !important;}
.div-check {height: 40px;}
.div-check label {width: 250px !important;}
.div-check:hover {color: red;}
.div-check span {width: 200px;}
.div-check input[type='checkbox'] {min-height: 10px !important;max-height: 20px !important;}
.modal-body-html {clear: both;}
#hasil_elektromedis label {min-width: 250px !important;}
.div_hasil_elektromedis {clear: both;}
.div_hasil_elektromedis textarea {width: 750px;max-width: 100%;}
.div_hasil_elektromedis div {width: 750px;max-width: 100%;}			
.div_hasil_elektromedis label {width: 500px;max-width: 100%;}
#hasil_elektromedis>div {padding: 10px;}
.div-check {float: none;width: auto;}
.repet_ru div.div-check,.repet_rd div.div-check{float:right !important; padding:10px; }
.repet_lu div.div-check,.repet_ld div.div-check{float:left !important; padding:10px; }
.repet_ru {padding-right:10px; border-right:solid 2px #000; border-bottom:solid 2px #000; }
.repet_lu {padding-left:10px; border-left:solid 2px #000; border-bottom:solid 2px #000;}
.repet_rd {padding-right:10px; border-right:solid 2px #000; }
.repet_ld {padding-left:10px;}
.dental_title{ text-align:center; font-weight:800;}

.repet div.div-check input[type="checkbox"]{margin:0px !important;}
.repet div.div-check font.checkbox_text{margin-left:-8px !important;}

div.print_div, div.print_div td ,  div.print_div th  {font-size:16px !important;}
div.print_div table.table  {margin:0px !important; padding:0px !important; }
div.print_div{ margin-bottom:15px; }



.r_left{ text-align:left !important; font-weight:100;}
.b_bottom{ border-bottom:dashed 1px #000; }
.b_top{ border-top:dashed 1px #000; }