.p5{
    padding: 5px;
}


.c{
    text-align: center;
}

.bl{
    border-left: solid 1px black;
}

.bt{
    border-top: solid 1px black;
}

.bb{
    border-bottom: solid 1px black;
}

.br{
    border-right: solid 1px black;
}

.blr{
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.bbt{
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.bf{
    border: solid 1px black;
}

.b{
    font-size: 15px;
    font-weight: 700;
}

