.pendaftaran_limapuluh .div-check, 
.pemeriksaan_limapuluh .div-check,
.arsip_limapuluh .div-check  { float: left;}
#patology_add_form_form label { width: 150px;}			
.smis_form div label { margin-top: 0px !important;}
.head-title { margin-top: 20px;}
#patology_add_form_form .span3 { margin-top: 20px;}
.indent { padding-left: 40px !important;}
.div-check { height: 40px; }
.div-check label { width: 250px !important;}
.div-check:hover { color: red;}
.div-check span { width: 200px;}
.div-check input[type='checkbox'] { min-height: 10px !important; max-height: 20px !important;}
.modal-body-html { clear: both;}

.cek_samping{ float:left; width:150px; }
.cek_samping font{float:left; padding-left:6px;}
#cetak_gabungan_button{margin-left:5px;}

/*Print Out HTML*/
table.pat_gabungan_table thead tr:nth-child(4) {border-top:solid 2px #000; }
table.pat_gabungan_table tfoot tr:nth-child(1) {border-top:solid 2px #000; }
table.pat_gabungan_table th, table.pat_gabungan_table td{border:none;} 

table.pat_gabungan_table tbody tr:nth-child(1) td {font-size:14px !important; font-weight:800; padding-top:15px;}
table.pat_gabungan_table .header_layanan_lain{font-size:15px !important; font-weight:800; padding-top:15px;}

table.pat_gabungan_table tr td{ font-size:13px !important; padding:2px;}

table.pat_gabungan_table tr td font#df_count{font-size:16px !important; }
table.pat_gabungan_table tr td font#df_count11{font-size:16px !important; }

.plong {padding-left:50px; display:block; }
@media print{
	.plong { margin:0; padding-left:50px; padding-right:0px; padding-top:0px; padding-bottom:0px;  display:block; }
	.plong table { margin:0 !important; }
	.plong table.pheader, .plong table.pfooter { page-break-inside:avoid; }
	.pat_kwitansi{ page-break-inside:avoid !important; }
	.pat_kwitansi td { height:auto; margin:0px !important; }
}

.r_left{ text-align:left !important; font-weight:100;}
.b_bottom{ border-bottom:dashed 1px #000; }
.b_top{ border-top:dashed 1px #000; }

#pemeriksaan_kesimpulan, #pendaftaran_kesimpulan{
	width:964px;
}