@media print{
    table#sep_table tr td { border:none !important; }    
}

.cline{ height: 20px !important; width: 100%;}
/*
.fcontainer_datasep_ppkPelayanan{display:none;}
.fcontainer_datasep_jnsPelayanan{display:none;}
.fcontainer_datasep_naikKelas{display:none;}
.fcontainer_datasep_pembiayaan{display:none;}
.fcontainer_datasep_penanggunjwb{display:none;}
.fcontainer_datasep_cob{display:none;}
.fcontainer_datasep_tgl_kejadian{display:none;}
.fcontainer_datasep_keterangan{display:none;}

.fcontainer_datasep_no_suplesi{display:none;}
.fcontainer_datasep_lokasiLaka{display:none;}
.fcontainer_datasep_kdPropinsi{display:none;}
.fcontainer_datasep_kdKabupaten{display:none;}
.fcontainer_datasep_kdKecamatan{display:none;}
.fcontainer_datasep_tujuanKunj{display:none;}
.fcontainer_datasep_flagProcedure{display:none;}
.fcontainer_datasep_kdPenunjang{display:none;}
.fcontainer_datasep_assesmentPel{display:none;}
.fcontainer_datasep_noSurat{display:none;}
.fcontainer_datasep_kodeDPJP{display:none;}
.fcontainer_datasep_katarak{display:none;}
*/

.fcontainer_datasep_klsRawat{display:none;}
.fcontainer_datasep_suplesi{display:none;}

#hide_form{display: none;}

.datasep_cob .div-check{
    height: 40px !important;
}

#table_datasep_poli tfoot tr:nth-child(2),#table_datasep_poli tfoot tr:nth-child(3){
    display: none;
}

#table_datasep_diagnosa tfoot tr:nth-child(2),#table_datasep_diagnosa tfoot tr:nth-child(3){
    display: none;
}