
@media print{ 
	table#tbprint{padding:10px; }
	table .bold{font-size:15px; font-weight:800;}
    table .small{font-size:10px;}
    table#tbprint tr.smis-print-table td,table#tbprint tr.smis-print-table th {border:none;}
}