@media print{
    table#sep_table tr td { border:none !important; }    
}

.cline{ height: 20px !important; width: 100%;}
#hide_form{display: none;}

.penjaminan_cob .div-check{
    height: 40px !important;
}

.form-container label{min-width: 200px;}

#table_penjaminan_poli tfoot tr:nth-child(2),#table_penjaminan_poli tfoot tr:nth-child(3){
    display: none;
}

#table_penjaminan_diagnosa tfoot tr:nth-child(2),#table_penjaminan_diagnosa tfoot tr:nth-child(3){
    display: none;
}