@media print{
    table#sep_table tr td { border:none !important; }    
}

.cline{border-bottom: dashed 1px grey; height: 20px !important; width: 100%;}
.fcontainer_datasep_klsRawat{display:none;}
.fcontainer_datasep_suplesi{display:none;}
.fcontainer_datasep_katarak{display:none;}

#hide_form{display: none;}

.datasep_cob .div-check{
    height: 40px !important;
}

#table_datasep_poli tfoot tr:nth-child(2),#table_datasep_poli tfoot tr:nth-child(3){
    display: none;
}

#table_datasep_diagnosa tfoot tr:nth-child(2),#table_datasep_diagnosa tfoot tr:nth-child(3){
    display: none;
}


@media print{ 
	table#tbprint{padding:10px; }
	table .bold{font-size:15px; font-weight:800;}
    table .small{font-size:10px;}
    table#tbprint tr.smis-print-table td,table#tbprint tr.smis-print-table th {border:none;}
}

