.ttab_parent{
    font-weight: 900;
}

.ttab_child{
}


.ttab0{
    
}

.ttab1{
    padding-left:20px;
}

.ttab2{
    padding-left:40px;
}

.ttab3{
    padding-left:60px;

}

.ttab4{
    padding-left:80px;
}

.ttab5{
    padding-left:100px;
}

.ttab6{
    padding-left:120px;
}

.ttab7{
    padding-left:140px;
}


.ttab8{
    padding-left:140px;
}

