
div.tbody{
    height:300px;
    overflow-y:scroll;
    overflow-x:hidden;
    width:1510px;
}

div.thead, div.tfoot {
    background:#c5c5c5;
    width:1510px;
}



div.table_neraca_lajur{
    overflow-x:hidden;
    margin-left:10px;
    margin-right:5px;
}

div.table_neraca_lajur div{
    display:block;
    float:left;
}

div.table_neraca_lajur{
    width:1520px;
}


.setengah{
    width:65px !important; 
}


.tigakali{
    width:390px !important;
}

div.table_neraca_lajur div > div > div {
    width:130px;
    border-top:solid 1px black;
}

div.last{
    border-bottom:solid 1px black;
}

div.table_neraca_lajur div > div > div.duakali {
    width:260px;
}



