.supclass{
    font-weight:800;
    text-transform:uppercase;
    background:#a7ffa2;
}

.subclass{
    font-weight:800;
    font-style:italic;
    background : #ffc2a5;
}

.motherclass{
    font-weight:800;
    font-style:italic;
    background : #a5d2e8;
}