div.table_ledger{
    overflow-x:hidden;
    overflow-y:scroll;
    margin-left:10px;
    margin-right:5px;
}

div.table_ledger div{
    display:block;
    float:left;
}

div.table_ledger{
    width:1330px;
}

div.table_ledger div > div > div {
    width:130px;
    border-top:solid 1px black;
}

div.tbody{
    height:300px;
    overflow-y:scroll;
    overflow-x:hidden;
    width:1330px;
}

div.thead, div.tfoot {
    background:#c5c5c5;
    width:1330px;
}

.noaccount{
    width:280px !important;
}

.namaaccount{
    width:780px !important;
}

.saldo{
    width:260px !important;
}

.no{
    width:65px !important; 
}

.tanggal{
    width:150px !important;
    text-align: center;
}

.code{
    width:65px !important; 
}

.keterangan{
    width:390px !important; 
}

.dept{
    width:130px !important; 
}

.nilai{
    width:130px !important; 
}

.footkiri{
    width:670px !important; 
}

.footkanan{
    width:260px !important; 
}

div.last{
    border-bottom:solid 1px black;
}



@media print{
    div.tbody{
        height:max-content !important;
    }
}