#table_worksheet_laba_rugi tfoot,#table_worksheet_laba_rugi thead .worksheet_laba_rugi_header_normal {
	display: none;
}

#table_worksheet_laba_rugi tbody,#table_worksheet_laba_rugi thead {
	font-size: 12px;
}

#table_worksheet_laba_rugi thead tr td {
	text-align: center !important;
	vertical-align: middle !important;
	font-weight: 800;
}

div.only_income_worksheet_laba_rugi table thead  tr:nth-child(1) > td:nth-child(2),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(1) > td:nth-child(3),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(1) > td:nth-child(4),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(1) > td:nth-child(5),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(1) > td:nth-child(6),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(1) > td:nth-child(7),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(1) > td:nth-child(8),

div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(1),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(2),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(3),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(4),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(5),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(6),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(7),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(8),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(9),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(10),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(11),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(12),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(13),
div.only_income_worksheet_laba_rugi table thead  tr:nth-child(2) > td:nth-child(14),

div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(2),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(3),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(4),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(5),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(6),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(7),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(8),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(9),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(10),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(11),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(12),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(13),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(14),
div.only_income_worksheet_laba_rugi table tbody  tr td:nth-child(15){
    display:none;
}

div.only_income_worksheet_laba_rugi table tbody  tr:last-child{
    display:none;
}