
#table_worksheet tfoot,#table_worksheet thead .worksheet_header_normal {
    display: none;
}

#table_worksheet tbody,#table_worksheet thead {
    font-size: 12px;
}

#table_worksheet thead tr td {
    text-align: center !important;
    vertical-align: middle !important;
    font-weight: 800;
}

table#table_worksheet thead tr:nth-child(1) > td:nth-child(4),
table#table_worksheet thead tr:nth-child(1) > td:nth-child(5),
table#table_worksheet thead tr:nth-child(1) > td:nth-child(6),
table#table_worksheet thead tr:nth-child(1) > td:nth-child(7),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(5),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(6),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(7),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(8),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(9),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(10),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(11),
table#table_worksheet thead tr:nth-child(2) > td:nth-child(12),
table#table_worksheet tbody tr td:nth-child(6),
table#table_worksheet tbody tr td:nth-child(7),
table#table_worksheet tbody tr td:nth-child(8),
table#table_worksheet tbody tr td:nth-child(9),
table#table_worksheet tbody tr td:nth-child(10),
table#table_worksheet tbody tr td:nth-child(11),
table#table_worksheet tbody tr td:nth-child(12),
table#table_worksheet tbody tr td:nth-child(13){
    display:none;
}


div.only_income_worksheet table thead  tr:nth-child(1) > td:nth-child(4),
div.only_income_worksheet table thead  tr:nth-child(1) > td:nth-child(5),
div.only_income_worksheet table thead  tr:nth-child(1) > td:nth-child(6),
div.only_income_worksheet table thead  tr:nth-child(1) > td:nth-child(7),
div.only_income_worksheet table thead  tr:nth-child(1) > td:nth-child(10),
div.only_income_worksheet table thead  tr:nth-child(1) > td:nth-child(11),

div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(5),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(6),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(7),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(8),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(9),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(10),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(11),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(12),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(13),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(14),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(15),
div.only_income_worksheet table thead  tr:nth-child(2) > td:nth-child(16),

div.only_income_worksheet table tbody  tr td:nth-child(6),
div.only_income_worksheet table tbody  tr td:nth-child(7),
div.only_income_worksheet table tbody  tr td:nth-child(8),
div.only_income_worksheet table tbody  tr td:nth-child(9),
div.only_income_worksheet table tbody  tr td:nth-child(10),
div.only_income_worksheet table tbody  tr td:nth-child(11),
div.only_income_worksheet table tbody  tr td:nth-child(12),
div.only_income_worksheet table tbody  tr td:nth-child(13),
div.only_income_worksheet table tbody  tr td:nth-child(14),
div.only_income_worksheet table tbody  tr td:nth-child(15),
div.only_income_worksheet table tbody  tr td:nth-child(16),
div.only_income_worksheet table tbody  tr td:nth-child(17){
    display:none;
}


