/**
* 	This CSS Used to Override the dafault color value of system 
*	@author Goblooge
*   @since 17 Apr 2015	
*/


@import url("../smis-base-css/smis-base-turn.css");	
@import url("../smis-base-css/smis-base-safethree.css");
@import url("../smis-base-css/smis-base-summernote.css");
@import url("../smis-base-css/smis-base-bootstrap-panel.css");
@import url("../smis-base-css/smis-base-bootstrap-listgroup.css");
@import url("../smis-base-css/smis-base-bootstrap.css");
@import url("../smis-base-css/smis-base-tree.css");	
@import url("../smis-base-css/smis-base-print.css");	
@import url("../smis-framework/bootstrap/css/bootstrap.min.css");
@import url("../smis-framework/bootstrap/css/bootstrap-responsive.min.css");
@import url("../smis-framework/fa/css/font-awesome.min.css");
@import url("../smis-framework/bootstrap/css/slider.css");
@import url("../smis-framework/bootstrap/css/summernote.css");
@import url("../smis-framework/bootstrap/css/bootstrap-colorpicker.css");

#salman_list tr td:first-child i {color:#0077b3;} 
body{background:#0077b3;}
.i_container > .smis_sidebar{background:#0077b3 !important;}
.smis #smis_window #smis_control_top{border-bottom:1px dashed #0077b3;}
.smis_form > div > label{color:#0077b3;}
.page-header-calendar h3{color:#0077b3;}
.modal-header a.close > i{ color:#0077b3; } 
.pagination ul>li>a{  background-color:#0077b3 !important; }
.pagination ul>.active>a, .pagination ul>.active>span{ color:#0077b3 !important;}
#smis_notification {color:#0077b3;} 
.table thead tr th, .table tfoot tr td, .modal-header h3{color:#0077b3;}
#navigator .navbar .navbar-inner {  background-color:#0077b3 !important;}
.maincolor{color:#0077b3 !important;}
::-webkit-scrollbar{ background-color: #0077b3; }
::-webkit-scrollbar-track{ background-color:#0077b3; }
::-webkit-scrollbar-thumb:vertical{   border-left:solid 1px #0077b3; border-right:solid 1px #0077b3; }
::-webkit-scrollbar-thumb:horizontal{ border-top:solid 1px #0077b3; border-bottom:solid 1px #0077b3; }
caption, legend, #breadcrumb, .side-nav>li>a:hover, .side-nav>li>ul>li, .dropdown-menu>li>a, .dropdown-menu>li>ul>li>a,h2{ color: #0077b3 !important; }
.btn-primary{ background-color:#0077b3 !important; }
.note-editor .note-toolbar{border-bottom:#0077b3;}
.loading {background:#0077b3;}
.smis_sidebar{ border-right:solid 3px #0077b3; }





