/**
* 	This CSS Used to Override the dafault color value of system 
*	@author Goblooge
*   @since 17 Apr 2015	
*/



@import url("../smis-base-css/smis-base-turn.css");	
@import url("../smis-base-css/smis-base-safethree.css");
@import url("../smis-base-css/smis-base-summernote.css");
@import url("../smis-base-css/smis-base-bootstrap-panel.css");
@import url("../smis-base-css/smis-base-bootstrap-listgroup.css");
@import url("../smis-base-css/smis-base-bootstrap.css");
@import url("../smis-base-css/smis-base-tree.css");	
@import url("../smis-base-css/smis-base-print.css");	
@import url("../smis-framework/bootstrap/css/bootstrap.min.css");
@import url("../smis-framework/bootstrap/css/bootstrap-responsive.min.css");
@import url("../smis-framework/fa/css/font-awesome.min.css");
@import url("../smis-framework/bootstrap/css/slider.css");
@import url("../smis-framework/bootstrap/css/summernote.css");
@import url("../smis-framework/bootstrap/css/bootstrap-colorpicker.css");


.typeaheadiv {
  color: #3D7DA0; 
}


#salman_list tr td:first-child i {color:#3D7DA0;} 
.i_container > .smis_sidebar{background:#3D7DA0 !important;}
.smis #smis_window_wrapper{background:#E9EAED !important;}
.smis #smis_window #smis_control_top{border-bottom:1px dashed #3D7DA0;}
body{background:#3D7DA0;}
#smis_container a{color:#3D7DA0;}
#smis_container a.btn-warning, #smis_container a.btn-danger, #smis_container a.btn-info, #smis_container a.btn-primary, #smis_container a.btn-inverse, #smis_container a.btn-success {color:#FFF;}
.smis-tabs li a{color:#3D7DA0 !important;}
#sidebar>ul>li>a{color:#3D7DA0 ; font-weight:800;}
#sidebar>ul>li>ul>li>a{color:#3D7DA0 ;}

.alert-info {   color: #3D7DA0 !important; background-color: #C3CEE6 !important; border-color: #96ABD8 !important; }
.alert-info h4 { color: #3D7DA0;}

.label-info, .badge-info {	background-color: #3D7DA0 !important; }

.smis_form > div > label{color:#3D7DA0;}
.page-header-calendar h3{color:#3D7DA0;}
.modal-header a.close > i{ color:#3D7DA0; } 
.pagination ul>li>a{  background-color:#3D7DA0 !important; }
.pagination ul>.active>a, .pagination ul>.active>span{ color:#3D7DA0 !important;}
#smis_notification {color:#3D7DA0;} 
.table thead tr th, .table tfoot tr td, .modal-header h3{color:#3D7DA0;}
#navigator .navbar .navbar-inner {  background-color:#3D7DA0 !important;}
.maincolor{color:#3D7DA0 !important;}
::-webkit-scrollbar{ background-color: #3D7DA0; }
::-webkit-scrollbar-track{ background-color:#3D7DA0; }
::-webkit-scrollbar-thumb:vertical{   border-left:solid 1px #3D7DA0; border-right:solid 1px #3D7DA0; }
::-webkit-scrollbar-thumb:horizontal{ border-top:solid 1px #3D7DA0; border-bottom:solid 1px #3D7DA0; }
caption, legend, #breadcrumb, .side-nav>li>a:hover, .side-nav>li>ul>li, .dropdown-menu>li>a, .dropdown-menu>li>ul>li>a,h2{ color: #3D7DA0 !important; }
.side-nav>li>a{font-size:16px !important;}
.side-nav>li>ul>li>a{font-size:14px !important;}
.side-nav>li>ul>li:hover{background:#EFF0F1 !important; }
.side-nav>li>ul>li:hover a{text-decoration:none !important;}
.btn-primary{ background-color:#3D7DA0 !important; }
.note-editor .note-toolbar{border-bottom:#3D7DA0;}
.loading{background:#3D7DA0;}
.slider-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #3D7DA0 !important;
	background-image: -moz-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#3D7DA0),to(#3D7DA0)) !important;
	background-image: -webkit-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
	background-image: -o-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
	background-image: linear-gradient(to bottom,#3D7DA0,#3D7DA0) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3D7DA0', endColorstr='#ff3D7DA0', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05) ;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	opacity: .8;
	border: 0 solid transparent;
}


.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus, 
.dropdown-submenu:hover>a, 
.dropdown-submenu:focus>a ,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
  background-color: #3D7DA0 !important;
  background-image: -moz-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#3D7DA0),to(#3D7DA0)) !important;
  background-image: -webkit-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
  background-image: -o-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
  background-image: linear-gradient(to bottom,#3D7DA0,#3D7DA0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3D7DA0',endColorstr='#ff3D7DA0',GradientType=0) !important;
}



.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover:active, .datepicker td.active.active, .datepicker td.active.disabled, .datepicker td.active:active, .datepicker td.active:focus, .datepicker td.active:hover, .datepicker td.active:hover.active, .datepicker td.active:hover.disabled, .datepicker td.active:hover:active, .datepicker td.active:hover:focus, .datepicker td.active:hover:hover, .datepicker td.active:hover[disabled], .datepicker td.active[disabled] { color: #fff;  background-color: #3D7DA0 !important; }
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active.disabled:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active[disabled] { color: #fff;  background-color: #3D7DA0 !important; }
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active.disabled:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active[disabled] { background-color: #3D7DA0 !important;}
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover:active { background-color: #3D7DA0 !important;}

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active:hover ,
.datepicker td.active, .datepicker td.active:hover ,
.datetimepicker table tr td.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active:hover {
  background-color: #088510 !important; 
  background-image: -moz-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#3D7DA0),to(#3D7DA0)) !important;
  background-image: -webkit-linear-gradient(top,#3D7DA0,#3D7DA0) !important; 
  background-image: -o-linear-gradient(top,#3D7DA0,#3D7DA0) !important;
  background-image: linear-gradient(to bottom,#3D7DA0,#3D7DA0) !important; 
  background-repeat: repeat-x; 
  border-color: #3D7DA0 #3D7DA0 #3D7DA0 !important; 
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff; 
  text-shadow: 0 -1px 0 rgba(0,0,0,.25); 
}

textarea:focus,select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(71,99,158,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(71,99,158,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(71,99,158,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(71,99,158,0.6);
}

.btn-info {
  background-color: #7995D1 !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  color: #fff;
  background-color: #5975B1 !important;
}
.smis_sidebar{ border-right:solid 3px #3D7DA0; }
.plugintable{background:#F1F1F1 !important;}
table.table-condensed tbody tr:nth-child(even) td{ background:#F3F5F5;}
table.table-condensed tbody tr:nth-child(odd) td{background:#FFF;}
table.table-condensed tbody tr:hover td{background:transparent !important;}
table.table-condensed tbody tr:hover{background:#E7E8EB;}
.smis-tabs .smis-tabs-content, div.divpanel{
  background: #fff;
  border-bottom: solid 1px !important;
  border-left: solid 1px !important;
  border-right: solid 1px !important;
  padding: 20px;
  border-color:#e5e6e9 #dfe0e4 #d0d1d5 !important;
}

.brand,legend,.table thead tr th, .table tfoot tr td, .modal-header h3{font-family:helvetica,arial,sans serif !important; font-style:normal !important;}
#navigator > div > div > div >ul >li >a{font-family:helvetica,arial,sans serif !important; font-size:13px !important; font-weight:bold !important;}
#navigator > div > div > div >ul >li >ul >li >a{font-family:helvetica,arial,sans serif !important; font-size:13px !important; }
#navigator > div > div > div >ul >li>a:hover{background:#395388 !important;}
#smis_notification{background:#2e477a !important; color:#FFF !important; font-size:13px !important;}
body, td, th{font-size:14px !important;}
caption{font-size:19px !important; font-style:normal !important; font-family:helvetica,arial,sans serif !important; }

.tabs-left>.nav-tabs{margin-right:0px !important;}
.tabs-right>.nav-tabs{margin-left:0px !important;}
.tab-content{min-height: 87%;}

