/**
* 	This CSS Used to Override the dafault color value of system 
*	@author Goblooge
*   @since 17 Apr 2015	
*/


@import url("../smis-base-css/smis-base-turn.css");	
@import url("../smis-base-css/smis-base-safethree.css");
@import url("../smis-base-css/smis-base-summernote.css");
@import url("../smis-base-css/smis-base-bootstrap-panel.css");
@import url("../smis-base-css/smis-base-bootstrap-listgroup.css");
@import url("../smis-base-css/smis-base-bootstrap.css");
@import url("../smis-base-css/smis-base-tree.css");	
@import url("../smis-base-css/smis-base-print.css");	
@import url("../smis-framework/bootstrap/css/bootstrap.min.css");
@import url("../smis-framework/bootstrap/css/bootstrap-responsive.min.css");
@import url("../smis-framework/fa/css/font-awesome.min.css");
@import url("../smis-framework/bootstrap/css/slider.css");
@import url("../smis-framework/bootstrap/css/summernote.css");
@import url("../smis-framework/bootstrap/css/bootstrap-colorpicker.css");

div.strip{border-bottom: 1px solid #3e444e !important; color:#333333 !important; }
#salman_list tr td:first-child i {color:#303641;} 
.i_container > .smis_sidebar{background:#303641 !important;}
.smis #smis_window_wrapper{background:#E9EAED !important;}
.smis #smis_window #smis_control_top{border-bottom:1px dashed #303641;}
body{background:#303641;}
#smis_container a{color:#303641;}
#smis_container a.btn-warning, #smis_container a.btn-danger, #smis_container a.btn-info, #smis_container a.btn-primary, #smis_container a.btn-inverse, #smis_container a.btn-success {color:#FFF;}
.smis-tabs li a{color:#303641 !important;}
#sidebar{border-bottom:solid 1px #3e444e;	border-top:solid 1px #3e444e;}
#sidebar>ul>li>a{color:#303641 ; font-weight:800;}
#sidebar>ul>li>ul>li>a{color:#303641 ;}
#sidebar>ul.side-nav>li>a.collapsed {border-bottom:solid 1px #3e444e !important; background-color:#252b33 !important; -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out; }
#sidebar>ul.side-nav>li>a.collapsed:hover { background-color:#363c47 !important; }
#sidebar>ul.side-nav>li>a{line-height:25px; font-size:15px !important; border-bottom:none !important; color: #dddee0 !important; background-color:  #303641 !important; }
#sidebar>ul.side-nav>li>ul{background: #303641 !important;  }
#sidebar>ul.side-nav>li>ul>li{height:30px !important;  }
#sidebar>ul.side-nav>li>ul>li>a{line-height:30px; color:#dddee0 !important; font-size:14px !important; 
    
 -webkit-transition: color 250ms ease-in-out,  background-color 250ms ease-in-out;
    -moz-transition: color  250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color  250ms ease-in-out,  background-color 250ms ease-in-out;
    transition: color   250ms ease-in-out,  background-color 250ms ease-in-out;

}
#sidebar>ul.side-nav>li>ul>li:hover{ background:#2d323d !important; }
#sidebar>ul.side-nav>li>ul>li a:hover{text-decoration:none !important; color:#fcfcfc !important; font-weight:500; font-size:14px !important; }
#spacer {
    border-top: none !important;
}

.alert-info {   color: #303641 !important; background-color: #C3CEE6 !important; border-color: #96ABD8 !important; }
.alert-info h4 { color: #303641;}

.label-info, .badge-info {	background-color: #303641 !important; }
.smis_form > div > label{color:#303641;}
.page-header-calendar h3{color:#303641;}
.modal-header a.close > i{ color:#303641; } 
.pagination ul>li>a{  background-color:#303641 !important; }
.pagination ul>.active>a, .pagination ul>.active>span{ color:#303641 !important;}
#smis_notification {color:#303641;} 
.table thead tr th, .table tfoot tr td, .modal-header h3{color:#303641;}
.smis #navigator{-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.35); box-shadow: 0 1px 2px rgba(0,0,0,.35); z-index: 100; zoom: 1;}
#navigator .navbar .navbar-inner {background-color: #252b33 !important; }
.maincolor{color:#303641 !important;}
::-webkit-scrollbar{ background-color: #303641; }
::-webkit-scrollbar-track{ background-color:#303641; }
::-webkit-scrollbar-thumb:vertical{   border-left:solid 1px #303641; border-right:solid 1px #303641; }
::-webkit-scrollbar-thumb:horizontal{ border-top:solid 1px #303641; border-bottom:solid 1px #303641; }
caption, legend, #breadcrumb, .side-nav>li>a:hover, .side-nav>li>ul>li, .dropdown-menu>li>a, .dropdown-menu>li>ul>li>a,h2{ color: #303641 !important; }

.btn-primary{ background-color:#303641 !important; }
.note-editor .note-toolbar{border-bottom:#303641;}
.loading{background:#303641;}
.slider-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #303641 !important;
	background-image: -moz-linear-gradient(top,#303641,#303641) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#303641),to(#303641)) !important;
	background-image: -webkit-linear-gradient(top,#303641,#303641) !important;
	background-image: -o-linear-gradient(top,#303641,#303641) !important;
	background-image: linear-gradient(to bottom,#303641,#303641) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4B7A2D', endColorstr='#ff4B7A2D', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05) ;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	opacity: .8;
	border: 0 solid transparent;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus, 
.dropdown-submenu:hover>a, 
.dropdown-submenu:focus>a ,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
  background-color: #303641 !important;
  background-image: -moz-linear-gradient(top,#303641,#303641) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#303641),to(#303641)) !important;
  background-image: -webkit-linear-gradient(top,#303641,#303641) !important;
  background-image: -o-linear-gradient(top,#303641,#303641) !important;
  background-image: linear-gradient(to bottom,#303641,#303641) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4B7A2D',endColorstr='#ff4B7A2D',GradientType=0) !important;
}



.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover:active, .datepicker td.active.active, .datepicker td.active.disabled, .datepicker td.active:active, .datepicker td.active:focus, .datepicker td.active:hover, .datepicker td.active:hover.active, .datepicker td.active:hover.disabled, .datepicker td.active:hover:active, .datepicker td.active:hover:focus, .datepicker td.active:hover:hover, .datepicker td.active:hover[disabled], .datepicker td.active[disabled] { color: #fff;  background-color: #303641 !important; }
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active.disabled:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active[disabled] { color: #fff;  background-color: #303641 !important; }
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active.disabled:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active[disabled] { background-color: #303641 !important;}
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover:active { background-color: #303641 !important;}

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active:hover ,
.datepicker td.active, .datepicker td.active:hover ,
.datetimepicker table tr td.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active:hover {
  background-color: #088510 !important; 
  background-image: -moz-linear-gradient(top,#303641,#303641) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#303641),to(#303641)) !important;
  background-image: -webkit-linear-gradient(top,#303641,#303641) !important; 
  background-image: -o-linear-gradient(top,#303641,#303641) !important;
  background-image: linear-gradient(to bottom,#303641,#303641) !important; 
  background-repeat: repeat-x; 
  border-color: #303641 #303641 #303641 !important; 
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff; 
  text-shadow: 0 -1px 0 rgba(0,0,0,.25); 
}

textarea:focus,select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(71,99,158,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(71,99,158,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(71,99,158,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(71,99,158,0.6);
}

.btn-info {
  background-color: #646669 !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  color: #fff;
  background-color: #303641 !important;
}
.smis_sidebar{ border-right:solid 3px #303641; }
.plugintable{background:#F1F1F1 !important;}
table.table-condensed tbody tr:nth-child(even) td{ background:#F3F5F5;}
table.table-condensed tbody tr:nth-child(odd) td{background:#FFF;}
table.table-condensed tbody tr:hover td{background:transparent !important;}
table.table-condensed tbody tr:hover{background:#E7E8EB;}
.smis-tabs .smis-tabs-content{
  background: #fff;
  border-bottom: solid 1px !important;
  border-left: solid 1px !important;
  border-right: solid 1px !important;
  padding: 20px;
  border-color:#e5e6e9 #dfe0e4 #d0d1d5 !important; 
  height:auto !important;
  overflow-x:visible;
  bottom:0;
  min-height:85%;
}

.brand,legend,.table thead tr th, .table tfoot tr td, .modal-header h3{font-family:helevetica,helvetyca,arial,sans serif !important; font-style:normal !important;}
#navigator > div > div > div >ul >li >a{font-family:helevetica,helvetyca,arial,sans serif !important; font-size:13px !important; font-weight:bold !important;}
#navigator > div > div > div >ul >li >ul >li >a{font-family:helevetica,helvetyca,arial,sans serif !important; font-size:13px !important; }
#navigator > div > div > div >ul >li>a:hover{background:#1c1d1d !important;}
#smis_notification{background:#1c1d1d !important; color:#FFF !important; font-size:13px !important;}
body, td, th{font-size:14px !important;}
caption{font-size:19px !important; font-style:normal !important; font-family:helevetica,helvetyca,arial,sans serif !important; }

.tabs-left>.nav-tabs{margin-right:0px !important;}
.tabs-right>.nav-tabs{margin-left:0px !important;}
.tab-content{height:87%;}
span.switch-primary {
	background: #303641 !important;
}

#user_identity #search_menu_box {
    width: 200px  !important;
    margin-top: 5px  !important;
    background: #e9eaed  !important;
    border: solid 1px #e9eaed !important;
    border-radius: 0px  !important;
}