/**
* 	This CSS Used to Override the dafault color value of system 
*	@author Alief
*   @since 4 Aug 2016	
*/
@import url("../smis-base-css/smis-base-turn.css");
@import url("../smis-base-css/smis-base-safethree.css");
@import url("../smis-base-css/smis-base-summernote.css");
@import url("../smis-base-css/smis-base-bootstrap-panel.css");
@import url("../smis-base-css/smis-base-bootstrap-listgroup.css");
@import url("../smis-base-css/smis-base-bootstrap.css");
@import url("../smis-base-css/smis-base-tree.css");
@import url("../smis-base-css/smis-base-print.css");
@import url("../smis-framework/bootstrap/css/bootstrap.min.css");
@import url("../smis-framework/bootstrap/css/bootstrap-responsive.min.css");
@import url("../smis-framework/fa/css/font-awesome.min.css");
@import url("../smis-framework/bootstrap/css/slider.css");
@import url("../smis-framework/bootstrap/css/summernote.css");
@import url("../smis-framework/bootstrap/css/bootstrap-colorpicker.css");
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";

#salman_list tr td:first-child i {
  color: #008fe2; }

body {
  background: #0480be;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem; }

a {
  color: #008fe2; }

caption, legend {
  font-style: normal;
  padding-left: 0;
  font-family: "Roboto", sans-serif;
  color: #333; }

label {
  font-style: normal;
  padding-left: 0;
  font-family: "Roboto", sans-serif;
  color: #008fe2; }

#smis_logo img {
  transform: scale(0.7) !important; }

.smis_form > div > label {
  font-style: normal !important;
  color: #333 !important; }

.btn a {
  margin: auto !important;
  vertical-align: middle; }

#navigator .navbar .navbar-inner {
  background-color: #008fe2;
  box-shadow: 2px 0px 2px #ccc; }

.smis #smis_window #smis_control_top {
  border-bottom: 1px solid #e4e4e4;
  padding: 0.75rem;
  padding-left: 0; }

#smis_control_top > div:nth-child(2) {
  margin-left: 0; }

.brand {
  font-family: "Roboto", sans-serif;
  font-style: normal; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image: none;
  background-color: #008fe2;
  color: #F2F2F2 !important; }

#breadcrumb {
  color: #333;
  font-weight: 700;
  opacity: .8; }

.smis #smis_window_wrapper {
  padding: 1.5rem; }

#spacer {
  height: auto;
  border: none; }

#user_identity {
  padding: 2.25rem 0; }

#user_identity > div:nth-child(2) {
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  }

.i_container > .smis_sidebar {
  background: #F2F2F2 !important;
  color: #008fe2;
  border-right: 0;
  height: 100%; }

.blackie {
  -webkit-filter: none; }

#sidebar {
  border: 0;
  margin-bottom: 0.75rem;
  }

#sidebar > ul > li > a.collapsed {
  font-size: 1rem;
  color: #333; }
  #sidebar > ul > li > a.collapsed i {
    color: #008fe2; }

#sidebar > ul > li > a.collapsed:hover {
  background-color: #008fe2; }

.side-nav > li {
  padding-top: 0.75rem; }
  .side-nav > li a {
    border: none;
    padding-left: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.375rem;
    width: inherit; }
  .side-nav > li ul {
    background-color: transparent; }
    .side-nav > li ul li {
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      width: inherit; }
      .side-nav > li ul li a {
        color: #333;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 3rem;
        background-color: transparent;
        width: inherit;
        display: block; }
      .side-nav > li ul li i {
        color: #008fe2; }
    .side-nav > li ul li:hover > a,
    .side-nav > li ul li:focus > a {
      background-color: #e4e4e4 !important;
      text-decoration: none;
      margin-right: auto; }
      .side-nav > li ul li:hover > a i,
      .side-nav > li ul li:focus > a i {
        color: #008fe2 !important; }

.side-nav > li:hover > a,
.side-nav > li:active > a {
  background-color: #008fe2 !important;
  color: #F2F2F2 !important; }
  .side-nav > li:hover > a i,
  .side-nav > li:active > a i {
    color: #F2F2F2 !important; }

.smis #smis_window #smis_container {
  padding-top: 1.5rem; }

.nav-tabs li a {
  color: #333;
  opacity: .8; }

table {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem; }
  table th {
    color: #333 !important; }
  table th, table td {
    padding: 0.75rem !important; }

.form-container {
  margin: 0.75rem; }

.smis_form > div {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding: 0;
  }
  .smis_form > div label {
    color: #008fe2; }

.page-header-calendar h3 {
  color: #008fe2; }


.pagination ul > li > a {
  background-color: #008fe2 !important; }

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #008fe2 !important; }

#smis_notification {
  color: #008fe2; }

.table thead tr th,
.table tfoot tr td,
.modal-header h3 {
  color: #008fe2; }

.maincolor {
  color: #008fe2 !important; }

::-webkit-scrollbar {
  background-color: #008fe2; }

::-webkit-scrollbar-track {
  background-color: #008fe2; }

::-webkit-scrollbar-thumb:vertical {
  border-left: solid 1px #008fe2;
  border-right: solid 1px #008fe2; }

::-webkit-scrollbar-thumb:horizontal {
  border-top: solid 1px #008fe2;
  border-bottom: solid 1px #008fe2; }

.note-editor .note-toolbar {
  border-bottom: #008fe2; }

.loading {
  background: #008fe2; }
