/**
* 	This CSS Used to Override the dafault color value of system 
*	@author Goblooge
*   @since 17 Apr 2015	
*/

@import url("../smis-base-css/smis-base-turn.css");	
@import url("../smis-base-css/smis-base-safethree.css");
@import url("../smis-base-css/smis-base-summernote.css");
@import url("../smis-base-css/smis-base-bootstrap-panel.css");
@import url("../smis-base-css/smis-base-bootstrap-listgroup.css");
@import url("../smis-base-css/smis-base-bootstrap.css");
@import url("../smis-base-css/smis-base-tree.css");	
@import url("../smis-base-css/smis-base-print.css");
@import url("../smis-framework/bootstrap/css/bootstrap.min.css");
@import url("../smis-framework/bootstrap/css/bootstrap-responsive.min.css");
@import url("../smis-framework/fa/css/font-awesome.min.css");
@import url("../smis-framework/bootstrap/css/slider.css");
@import url("../smis-framework/bootstrap/css/summernote.css");
@import url("../smis-framework/bootstrap/css/bootstrap-colorpicker.css");

#salman_list tr td:first-child i {color:#880000;} 
.i_container > .smis_sidebar{background:#880000 !important;}
.smis #smis_window #smis_control_top{border-bottom:1px dashed #880000;}
body{background:#880000;}
#smis_container a{color:#880000;}
#smis_container a.btn-warning, #smis_container a.btn-danger, #smis_container a.btn-info, #smis_container a.btn-primary, #smis_container a.btn-inverse, #smis_container a.btn-success {color:#FFF;}
.smis-tabs li a{color:#880000 !important;}
#sidebar>ul>li>a{color:#880000 ;}
#sidebar>ul>li>ul>li>a{color:#880000 ;}

.alert-info {   color: #880808 !important; background-color: #FBD3D3 !important; border-color: #EE8888 !important; }
.alert-info h4 { color: #901B1B;}

.label-info, .badge-info {	background-color: #922A2A !important; }

.smis_form > div > label{color:#880000;}
.page-header-calendar h3{color:#880000;}
.modal-header a.close > i{ color:#880000; } 
.pagination ul>li>a{  background-color:#880000 !important; }
.pagination ul>.active>a, .pagination ul>.active>span{ color:#880000 !important;}
#smis_notification {color:#880000;} 
.table thead tr th, .table tfoot tr td, .modal-header h3{color:#880000;}
#navigator .navbar .navbar-inner {  background-color:#880000 !important;}
.maincolor{color:#880000 !important;}
::-webkit-scrollbar{ background-color: #880000; }
::-webkit-scrollbar-track{ background-color:#880000; }
::-webkit-scrollbar-thumb:vertical{   border-left:solid 1px #880000; border-right:solid 1px #880000; }
::-webkit-scrollbar-thumb:horizontal{ border-top:solid 1px #880000; border-bottom:solid 1px #880000; }
caption, legend, #breadcrumb, .side-nav>li>a:hover, .side-nav>li>ul>li, .dropdown-menu>li>a, .dropdown-menu>li>ul>li>a,h2{ color: #880000 !important; }
.btn-primary{ background-color:#880000 !important; }
.note-editor .note-toolbar{border-bottom:#880000;}
.loading{background:#880000;}

.slider-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #880000 !important;
	background-image: -moz-linear-gradient(top,#880000,#890000) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#880000),to(#890000)) !important;
	background-image: -webkit-linear-gradient(top,#880000,#890000) !important;
	background-image: -o-linear-gradient(top,#880000,#890000) !important;
	background-image: linear-gradient(to bottom,#880000,#890000) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff880000', endColorstr='#ff890000', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05) ;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	opacity: .8;
	border: 0 solid transparent;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus, 
.dropdown-submenu:hover>a, 
.dropdown-submenu:focus>a ,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
  background-color: #880000 !important;
  background-image: -moz-linear-gradient(top,#880000,#4E0000) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#880000),to(#4E0000)) !important;
  background-image: -webkit-linear-gradient(top,#880000,#4E0000) !important;
  background-image: -o-linear-gradient(top,#880000,#4E0000) !important;
  background-image: linear-gradient(to bottom,#880000,#4E0000) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff880000',endColorstr='#ff4E0000',GradientType=0) !important;
}



.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover:active, .datepicker td.active.active, .datepicker td.active.disabled, .datepicker td.active:active, .datepicker td.active:focus, .datepicker td.active:hover, .datepicker td.active:hover.active, .datepicker td.active:hover.disabled, .datepicker td.active:hover:active, .datepicker td.active:hover:focus, .datepicker td.active:hover:hover, .datepicker td.active:hover[disabled], .datepicker td.active[disabled] { color: #fff;  background-color: #8D0505 !important; }
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active.disabled:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active[disabled] { color: #fff;  background-color: #8D0505 !important; }
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active.disabled:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active[disabled] { background-color: #8D0505 !important;}
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover:active { background-color: #8D0505 !important;}

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active:hover ,
.datepicker td.active, .datepicker td.active:hover ,
.datetimepicker table tr td.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active:hover {
  background-color: #850808 !important; 
  background-image: -moz-linear-gradient(top,#901E1E,#8D0505) !important;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#901E1E),to(#8D0505)) !important;
  background-image: -webkit-linear-gradient(top,#901E1E,#8D0505) !important; 
  background-image: -o-linear-gradient(top,#901E1E,#8D0505) !important;
  background-image: linear-gradient(to bottom,#901E1E,#8D0505) !important; 
  background-repeat: repeat-x; 
  border-color: #8D0505 #8D0505 #611D1D !important; 
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff; 
  text-shadow: 0 -1px 0 rgba(0,0,0,.25); 
}




textarea:focus,select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(200,82,82,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(200,82,82,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(200,82,82,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(200,82,82,0.6);
}

.btn-info {
  background-color: #B63030 !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  color: #fff;
  background-color: #B63030 !important;
}

